<div class="container">
  <div class="carousel">
    <div class="carousel__face"><span>CastGoibada</span></div>
    <div class="carousel__face"><span>Isto é algo</span></div>
    <div class="carousel__face"><span>Muito especial</span></div>
    <div class="carousel__face"><span>Para você</span></div>
    <div class="carousel__face"><span>Apenas dê</span></div>
    <div class="carousel__face"><span>Uma tentativa</span></div>
    <div class="carousel__face"><span>E veja</span></div>
    <div class="carousel__face"><span>Como é gostoso</span></div>
    <div class="carousel__face"><span>Woow</span></div>
  </div>
</div>

<div class="container">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <p>Goiaba para evitar a degeneração macular.
    A goiaba branca possui quase o dobro de vitamina C das vermelhas e traz mais probabilidade para afastar a degeneração macular, que é a perda na centro da visão.
     São ricas em minerais como cobre, manganês e magnésio, além de cálcio e fibras.</p>
  <div class="row my-5 justify-content-center" >
        <img src="https://images.squarespace-cdn.com/content/v1/5b8edfa12714e508f756f481/1538603063422-G1KTH8ASI3CXSZKKN6SF/GOIABA-BRANCA-PN.png?format=750w" alt="">
  </div>
</div>

<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
  <div class="row my-5 justify-content-center">
      <div class="col text-center">
          <div class="card border-0">
              <div class="card-body">
                  <div class="card-title">
                      <h3 class="mb-4">Com o amor no nome e o coração no campo, levamos o melhor para sua mesa!!</h3>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-md-4 col">
                          <p class="small color-text">Mais do que produzir, nós cuidamos do campo, junto com mais de 350 produtores,
                            para garantirmos os melhores ingredientes em nossos produtos, pois nosso objetivo é sempre levar o melhor a mesa de nossos consumidores! </p> <button type="button" class="btn btn-primary border-0 my-4"><b>Entrar em Contato</b></button><br> <img src="https://www.predilecta.com.br/images/benegoiaba.png" class="img-fluid" width="650">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <footer>
      <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
          <div class="col-12">
              <div class="row row-2">
                  <div class="col-sm-3 text-md-center">
                      <h5><span> <i class="fa fa-firefox text-light" aria-hidden="true"></i></span><b> Cast</b></h5>
                  </div>
                  <div class="col-sm-3 my-sm-0 mt-5">
                      <ul class="list-unstyled">
                          <li class="mt-0">Plataforma</li>
                          <li>Centro de ajuda</li>
                          <li>Segurança</li>
                      </ul>
                  </div>
                  <div class="col-sm-3 my-sm-0 mt-5">
                      <ul class="list-unstyled">
                          <li class="mt-0">Clientes</li>
                          <li>Casos de Uso</li>
                          <li>Atendimento ao Cliente</li>
                      </ul>
                  </div>
                  <div class="col-sm-3 my-sm-0 mt-5">
                      <ul class="list-unstyled">
                          <li class="mt-0">Empresa</li>
                          <li>Sobre</li>
                          <li>Carreiras</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">
          <div class="col-12">
              <div class="row my-4 row-1 no-gutters">
                  <div class="col-sm-3 col-auto text-center"><small>&#9400; Prova 27-10-2021</small></div>
                  <div class="col-md-3 col-auto "></div>
                  <div class="col-md-3 col-auto"></div>
                  <div class="col my-auto text-md-left text-right "> <small> Goiabada@cast.com <span><img src="https://i.imgur.com/TtB6MDc.png" class="img-fluid " width="25"></span> <span><img src="https://i.imgur.com/N90KDYM.png" class="img-fluid " width="25"></span></small> </div>
              </div>
          </div>
      </div>
  </footer>
</div>
